flows.json
[{"id":"bcc68894.fba4e8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"786ad25b.3c875c","type":"watson-conversation-v1","z":"bcc68894.fba4e8","name":"Resto Bot","workspaceid":"614e0257-6be1-4cd6-bf02-49505b83d2e7","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/effdbb56-b564-4bcf-92da-fdb4ffebff26","timeout":"","optout-learning":false,"x":440,"y":120,"wires":[["e8e27cb4.cf603"]]},{"id":"55d56b1b.1d9884","type":"inject","z":"bcc68894.fba4e8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hi","payloadType":"str","x":170,"y":100,"wires":[["786ad25b.3c875c"]]},{"id":"e76b6f95.c214c","type":"debug","z":"bcc68894.fba4e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":160,"wires":[]},{"id":"e8e27cb4.cf603","type":"function","z":"bcc68894.fba4e8","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["e76b6f95.c214c","609b462f.03cbf8","5ca7c017.5117c","22b4403d.eefbd"]]},{"id":"fe584de3.a45a2","type":"ui_form","z":"bcc68894.fba4e8","name":"","label":"","group":"f5b6e227.bbdc3","order":2,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":300,"wires":[["40c33c4a.c01914"]]},{"id":"40c33c4a.c01914","type":"function","z":"bcc68894.fba4e8","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["786ad25b.3c875c","376a721c.a5794e"]]},{"id":"376a721c.a5794e","type":"ui_text","z":"bcc68894.fba4e8","group":"f5b6e227.bbdc3","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":340,"wires":[]},{"id":"609b462f.03cbf8","type":"ui_text","z":"bcc68894.fba4e8","group":"f5b6e227.bbdc3","order":4,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":220,"wires":[]},{"id":"5ca7c017.5117c","type":"ui_audio","z":"bcc68894.fba4e8","name":"","group":"f5b6e227.bbdc3","voice":"en-US","always":"","x":740,"y":80,"wires":[]},{"id":"22b4403d.eefbd","type":"ui_template","z":"bcc68894.fba4e8","group":"f5b6e227.bbdc3","name":"","order":6,"width":"6","height":"11","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":120,"wires":[[]]},{"id":"f5b6e227.bbdc3","type":"ui_group","z":"","name":"Chatbot","tab":"a08663d4.4bd56","order":1,"disp":true,"width":"6","collapse":false},{"id":"a08663d4.4bd56","type":"ui_tab","z":"","name":"Chat Bot","icon":"dashboard","disabled":false,"hidden":false}]